*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red: rgb(255, 0, 0);
    --green: rgb(0, 127, 0);
    --orange: rgb(255, 105, 0);
    --black: rgb(0, 0, 3);
}
header{
    color: white;
    min-width: 500px;
    margin-bottom: 10px;
    background-color: var(--orange);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--orange);
    
}
.al{
    vertical-align: middle;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.logo{
    width: 200px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.row-flex{
    display: flex;

}
.col{
    width: calc((100% - 10) / 3);
    padding-bottom: 20px;
    position: relative;
}
.margin{
    margin: 0 5px;
}
col img{
    width: 100%;
}
img{
    width: 370px;
    padding-bottom: 2px;
}
.red{
    color: var(--red);
}
.sbarra{
    text-decoration: line-through;
}
/*
.heart{
    position: absolute;
    right: 0;
    top: 10px;

}
*/
.label{
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 40px;
}