*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --red: rgb(255, 0, 0);
    --green: rgb(0, 127, 0);
    --orange: rgb(255, 105, 0);
    --black: rgb(0, 0, 3);
}
header{
    color: white;
    min-width: 500px;
    margin-bottom: 10px;
    background-color: var(--orange);
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    color: white;  
    max-width: 1170px;
    margin: 0 auto;    
}
.al{
    vertical-align: middle;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
.logo{
    width: 200px;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.row-flex{
    display: flex;
}
.card{
    width: calc((100% - 10px) / 3);
    position: relative;
    cursor: pointer;
}
.margin{
    margin: 0 5px;
}
card img{
    width: 100%;
}
img{
    padding-bottom: 2px;
    width: 300px;
}
.red{
    color: var(--red);
}
.sbarra{
    text-decoration: line-through;
}
.card:hover .second{
    /* display: inline-block; */
    z-index: 2;
}
.card:hover .first{
    z-index: 1;
}
.second{
    z-index: 1;
}
.first{
    z-index: 2;
}
/*
.heart{
    position: absolute;
    right: 0;
    top: 10px;

}
*/
.label{
    display: block;
    position: absolute;
    left: 0;
    bottom: 150px;
    width: 40px;
    color: white;
    background-color: var(--red);
    padding: 3px;
}
.labelgreen{
    display: block;
    position: absolute;
    left: 45px;
    bottom: 150px;
    width: 90px;
    color: white;
    background-color: var(--green);
    padding: 3px;
}
.labelgreen1{
    display: block;
    position: absolute;
    left: 0;
    bottom: 150px;
    width: 90px;
    color: white;
    background-color: var(--green);
    padding: 3px;
}
footer{
    background-color: var(--black);
    padding: 15px;
}
